<div class="container">
  <div class="row flash">
    <div class="col-sm-8 col-sm-offset-2">
      <p class="devise-alert"><%= notice %></p>
      <p class="devise-alert"><%= alert %></p>
    </div>
  </div>
</div>
