// Place all the styles related to the js_app controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Roboto);

$brand-primary: #00A7E1;
$brand-dark-blue: #00283A;
$navy-blue: #002B3C;

// Global
h2 {
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
  border-bottom: 1 px solid $navy-blue;

  letter-spacing: 1px;
  font-size: 20px;
  font-family: "Roboto", "Open Sans", Arial, sans-serif;
}

.light-text {
  color: #bbb;
  font-size: 12px;
}

.btn-card {
  background-color: $brand-primary;
  text-align: center;
  letter-spacing: 1px;
  font-size: 20px;
  font-family: 'Helvetica Neue Roman', Arial, sans-serif !important;
  color: white;
  font-weight: bold;
  width: 325px;
  padding: 20px 0;
  margin: 15px auto;
}

.btn-submit {
  text-align: center;
  letter-spacing: 1px;
  font-size: 20px;
  font-family: 'Helvetica Neue Roman', Arial, sans-serif !important;
  color: white;
  font-weight: bold;
  width: 400px;
  padding: 20px 0;
  margin: 15px auto;
}

.btn-submit:hover,
.btn-card:hover {
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn-card.selected {
  opacity: 0.6;
}

// Navbar font
.navbar, .navbar-default{
  border-radius: 0;
  background-color: #fff;

  .navbar-text {
    color: $navy-blue;
  }

  li >  a {
      font-size: 13px;
  }

  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: "Roboto", "Open Sans", Arial, sans-serif;
}

// Devise flashes
.devise-alert {
  border-radius: 4px;
  line-height: 200%;
  padding-left: 15px;

  // Bootstrap yellow alert color scheme
  background-color: #fcf8e3;
  color: #8a6d3b;
}

// Zone Controls
.zone-wrapper {
  max-height: 70vh;
  overflow-y: scroll;
  border: 1px solid silver;
  border-radius: 4px;
}

.zone {
  max-width: 600px;
}

.form-inline {
  display: inline-block;

  letter-spacing: 1px;
  font-size: 16px;
  font-family: "Roboto", "Open Sans", Arial, sans-serif;

  padding: 10px;

  .form-control {
    margin: 10px;
  }
}

// Enabled zones
.zone-tag {
  border: 1px solid silver;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  line-height: 1.5;
  margin: 2px;
  padding: 2px;
}
